# Create a calculator

In [5]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = float(num1) + float(num2)
print(result)

Enter a number: 56
Enter another number: 3.54
59.54

# mad libs game

In [7]:
#mad libs game
color = input('Enter a color: ')
plural_noun = input('Enter a plural noun: ')
celebrity = input('Enter a celebrity: ')

print('Roses are ' + color)
print(plural_noun + ' are blue')
print('I love ' + celebrity)

Enter a color: asdfa
Enter a plural noun: sa
Enter a celebrity: fs
Roses are asdfa
sa are blue
I love fs

# create lists

In [15]:
#create lists
friends = ['Kevin', 'Anne', 'June']
friends[1] = 'Mile'
print (friends[1:4])

['Mile', 'June']

# List Functions

In [38]:
#List Functions

lucky_numbers = [4, 8, 15, 16, 32, 42]
friends = ['Kevin', 'Karen', 'Karen', 'Jim', 'Oscar', 'Tabitha']
friends.remove('Jim') #remove specific item in the list
friends.pop() #remove last item in the list
friends.sort() #sort in ascending order
friends2 = friends.copy() #copy the other list exactly
print(lucky_numbers.reverse())
print(friends.sort())
print(friends.index('Karen')) #index position of the item in the list
print(friends.count('Karen')) #number of times it appears on the list
print(friends2)

None
None
0
2
['Karen', 'Karen', 'Kevin', 'Oscar']

# tuples are immutable

In [39]:
#tuples are immutable
coordinates = (5,6)
print(coordinates[0])

5

# functions in Python

In [3]:
# functions in Python

def say_hi(name, age):
    print('Hello ' + name + ', you are ' + str(age))
    
print('Top')
say_hi('Mark', 28)
say_hi('Martin', 32)
print('Bottom')

Top
Hello Mark, you are 28
Hello Martin, you are 32
Bottom

# Return Statement

In [4]:
def cube(num):
    return num*num*num 
    
result = cube(9)
print(result)
print(cube(2))

729
8

# If Statements

In [1]:
is_male = True 
is_tall = True 

if is_male or is_tall:
    print('You are a tall male')
else:
    print('You are not a tall male')
    

is_male = True 
is_tall = False 

if is_male and is_tall:
    print('You are a tall male')
else:
    print('You are not a tall male')
    
is_male = False 
is_tall = True 

if is_male and is_tall:
    print('You are a tall male')
elif is_male and not(is_tall):
    print('You are a short male')
elif not(is_male) and is_tall:
    print('You are a tall gal')
else:
    print('You are not a tall gal')

You are a tall male
You are not a tall male
You are a tall gal

# if statements and comparisons

In [7]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3: 
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

print(max_num(48,43,54)) 


def min_num(num1, num2, num3):
    if num1 == num2 and num1 != num3: # == equal to, != not equal to 
        return num1
    elif num2 <= num1 and num2 <= num3:
        return num2
    else:
        return num3

print(min_num(48,43,54))

54
43

# Building a calculator in Python

In [16]:
num1 = float(input('Enter first number: ')) 
op = input('Enter operator: ')
num2 = float(input('Enter second number: ')) 

if op == '+':
    print (num1 + num2)
elif op == '-':
    print (num1 - num2)
elif op == '/':
    print (num1 / num2)
elif op == '*':
    print (num1 * num2)
else:
    print('Invalid operator')

Enter first number: 8
Enter operator: (
Enter second number: 9
Invalid operator

# Dictionaries

In [11]:
monthConversions = {
    'Jan': 'January',
    5 : 'February',
    'Mar': 'March',
    'Apr': 'April',
    'May': 'May',
    'Jun': 'June',
    'Jul': 'July',
    'Aug': 'August',
    'Sep': 'September',
    'Oct': 'October',
    'Nov': 'November',
    'Dec': 'December',
}

print(monthConversions['Nov'])
print(monthConversions.get('Dec'))
print(monthConversions.get('Dece', 'Not a default value'))
print(monthConversions.get('Dece'))
print(monthConversions[5])

November
December
Not a default value
None
February

# While Loop

In [6]:
i = 1
while i <= 10:
    print(i)
    i += 1

print('Done')

1
2
3
4
5
6
7
8
9
10
Done

In [16]:
secret_word = 'giraffe'
guess = ''
guess_count = 0 
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input('What is the secret word: ')
        guess_count += 1   
    else:
        out_of_guesses = True 

if out_of_guesses == True:
    print('so sad')
else:
    print('correct')

What is the secret word: k
What is the secret word: k
What is the secret word: i
so sad

# For Loop

In [17]:
for letter in 'Giraffe Academy':
    print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [44]:
friends = ['Jim', 'Sam', 'Doe']
for fr in friends:
    print(friends)

for index in range(5):
    print(index)
    
friends = ['Jim', 'Sam', 'Doe']
for fr in friends:
    print(fr)

for index in range(20):
    if index >= 12:
        print('not qualified')
    else:
        print(index)


matrix = [' ',12,2,43,543,64,656,65,67,876,567,8]
for index in matrix:
    print(index)

['Jim', 'Sam', 'Doe']
['Jim', 'Sam', 'Doe']
['Jim', 'Sam', 'Doe']
0
1
2
3
4
Jim
Sam
Doe

12
2
43
543
64
656
65
67
876
567
8

In [46]:
friends = ['Jim', 'Sam', 'Doe']
for index in range(len(friends)):
    print(friends[index])

Jim
Sam
Doe

# Exponent Function

In [60]:
print(2**3)

print(' ')

def cube(num):
    return num*num*num 
    
result = cube(2)
print(result)
print(cube(2))

print(' ')

def raise_to_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result*base_num
    return result 

print(raise_to_power(2,3))

8

8
8

8

# 2D Lists and Nested Loops

In [1]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

print(number_grid[0][0])

1

In [2]:
for row in number_grid: 
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [3]:
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

# Building a Translator

In [3]:
def translation(phrase):
    translation = ''
    for letter in phrase:
        if letter in 'AEIOUaeiou':
            translation = translation + 'g'
        else:
            translation = translation + letter
    return translation

print (translation(input('Enter a phrase: ')))

Enter a phrase: aaaa
gggg

# Try/ Except

In [5]:
number = int(input('Enter a number: '))
print(number)

Enter a number: 3
3

In [6]:
try:
    number = int(input('Enter a number: '))
    print(number)
except:
    print('Invalid Input')

Enter a number: da
Invalid Input

In [7]:
try:
    value = 10/0
    number = int(input('Enter a number: '))
    print(number)
except:
    print('Invalid Input')

Invalid Input

In [9]:
try:
    value = 10/0
    number = int(input('Enter a number: '))
    print(number)
except ZeroDivisionError:
    print('Divided by zero')
except ValueError:
    print('Invalid Input')

Divided by zero

In [10]:
try:
    value = 10/0
    number = int(input('Enter a number: '))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print('Invalid Input')

division by zero

In [ ]:
try:
    value = 10/0
    number = int(input('Enter a number: '))
    print(number)
except ZeroDivisionError as err:
    print('Divided by zero')
except ValueError:
    print('Invalid Input')

# Reading Files

In [ ]:
# ensure the python file and items you want to analyse are in the same folder
employee_file = open('employee.txt', 'r') #r - read, r+ read and write, a append, w write

print(employee_file.read()) #display the items ihe file 

employee_file.close() #you need to close of the document as you are reading them

# Modules and Pips